
header{
  display: flex;
  justify-content: start;
  align-items: center;
  height: 64px;
  background-color: rgb(110, 80, 122);
}
header .icons{
  margin-left: 5%;
  display:  inline;
  justify-content: center;
  align-items: center;
}
header .icons div{
  padding-left: 5px;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 80px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
header .icons div:last-child{
background-color: antiquewhite;
color: indigo;
}
.head-menu{
  justify-content: center;
  align-items:center;
  display: flex;
  margin-left: 5%;
  color: white;
}
.head-menu div{
  cursor: pointer;
  height: 64px;
margin-right: 0;
width: 150px;
}
.head-menu div:hover{
  background-color: rgb(182, 143, 197) ;
}
.head-menu div.active{
 background-color: rgb(163, 102, 207);
}
.head-menu div img{
  margin-top: 5px;
  margin-left: 4.2%;
 position: absolute;
 border-radius: 50%;
}
.head-menu div img.img-inside-img{
  margin-left: 4.4%;
  margin-top: 7px;
}
.head-menu div p{
  margin-left: 10%;
  margin-top: 30px
}
.right-head{
  width: 300px;
  margin-left: 30%;
  display: flex;
}
.head-register-but{
  width: 207px;
  height: 36px;
  border-radius: 5px;
  background-color: rgb(214, 175, 241);
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}
.head-start-but{
  width: 147px;
  height: 36px;
  border-radius: 5px;
  background-color: rgb(214, 175, 241);
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}
.head-avatar{
  margin-left: 2%;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
